In [26]:
#Frizaski Al Fath - J0403231081
#TPL B-1
#Basic List Operations

#Length
text = "Frizaski Al Fath"
panjang = len(text)
print(text, ":", panjang)

#Concatenation
angka_1 = (1,2,3)
angka_2 = (4,5,6)
print(angka_1 + angka_2)

#Repetition
print("Hi, "*4)

#Membership
print(3 in [1,2,3])

#Iteration
for x in [1,2,3]:
    print(x)

Frizaski Al Fath : 16
(1, 2, 3, 4, 5, 6)
Hi, Hi, Hi, Hi,
True

1
2
3

In [61]:
#Built-in Methods

my_list = [1,2,3,4,5,6]
#append
my_list.append(7)
print(my_list)

#extend
my_list.extend([8,9,10])
print(my_list)

#insert
my_list.insert(3,11)
print(my_list)

#remove
my_list.remove(1)
print(my_list)

#pop
popped_element = my_list.pop(7)
print(f"Popped element: {popped_element}")

#clear
my_list.clear()
print(my_list)

#index(x[,start[,end]])
my_list = [1,2,3,4,5,6]
index = my_list.index(6)
print(f"index of 6:{index}")

#count(x)
count = my_list.count(3)
print(f"index of 3:{index}")

#sort(key=None, reverse=False)
my_list = [3,5,1,2,4,6]
my_list.sort()
print(my_list)

#reverse()
my_list.reverse()
print(my_list)

#copy()
copy_of_list = my_list.copy()
print(copy_of_list)

#len(list)
length = len(my_list)
print(f"length of the list: {length}")

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 11, 4, 5, 6, 7, 8, 9, 10]
[2, 3, 11, 4, 5, 6, 7, 8, 9, 10]
Popped element: 8
[]
index of 6:5
index of 3:5
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]
[6, 5, 4, 3, 2, 1]
length of the list: 6

In [67]:
#Creating python lists
list1 = ["alfath","farhan","hakkam"]
list2 = ["alfath",1,2,3,(1,4),[6,76,8]]
print(list1)
print(list2)

#Accessing an element 
print(list1[2])
print(list1[-2])

#Slicing the list in python
list_1=[1,2,3,4.1,'a',"FarhanKebab",0.5]
print("list_1[2:5] =",list_1[2:5]) 
print("list_1[:] =",list_1[:]) 
print("list_1[-5:-2] =",list_1[-5:-2]) 
print("list_1[3:] =",list_1[3:]) 
print("list_1[-3:] =",list_1[-3:]) 
print("list_1[:2] =",list_1[:2]) 
print("list_1[:-2] =",list_1[:-2])

['alfath', 'farhan', 'hakkam']
['alfath', 1, 2, 3, (1, 4), [6, 76, 8]]
hakkam
farhan
list_1[2:5] = [3, 4.1, 'a']
list_1[:] = [1, 2, 3, 4.1, 'a', 'FarhanKebab', 0.5]
list_1[-5:-2] = [3, 4.1, 'a']
list_1[3:] = [4.1, 'a', 'FarhanKebab', 0.5]
list_1[-3:] = ['a', 'FarhanKebab', 0.5]
list_1[:2] = [1, 2]
list_1[:-2] = [1, 2, 3, 4.1, 'a']

In [69]:
#Modifying and deleting from python list
#Create a list
my_list = [1, 2, 3, 4, 5, 6]

#Modify an element using indexing
my_list[2] = 10
print("After modifying using indexing:", my_list)

#Modify a range of elements using slicing
my_list[1:4] = [20, 30, 40]
print("After modifying using slicing:", my_list)  

#Delete an element using indexing
del my_list[2]
print("After deleting using indexing:", my_list)  

#Delete a range of elements using slicing
my_list[1:4] = []
print("After deleting using slicing:", my_list) 

#Delete the entire list
del my_list

After modifying using indexing: [1, 2, 10, 4, 5, 6]
After modifying using slicing: [1, 20, 30, 40, 5, 6]
After deleting using indexing: [1, 20, 40, 5, 6]
After deleting using slicing: [1, 6]

In [75]:
#Common ways to loop through a list
my_list = [1,2,3,4,5,6]
for item in my_list:
    print(item)

for index,item in enumerate(my_list):
    print(f"index{index}:{item}")

for item in reversed(my_list):
    print(item)

1
2
3
4
5
6
index0:1
index1:2
index2:3
index3:4
index4:5
index5:6
6
5
4
3
2
1

In [76]:
#List comprehension in python
# Sample 1:
list1=[-1,2,-3,4,5]
list2=[x**2 for x in list1]
print(list2)

# Sample 2 (with condition):
fruits = ["apel", "pisang", "ceri", "kiwi", "mangga"]
newlist = [x if x != "pisang" else "jeruk" for x in fruits]
print(newlist)

[1, 4, 9, 16, 25]
['apel', 'jeruk', 'ceri', 'kiwi', 'mangga']

In [77]:
#Unpacking the list
emp_info=['Python',5,'Developer']

#list unpacking
skill,exp,role=emp_info
print(skill)
print(exp)
print(role)

Python
5
Developer

In [79]:
#Using lists as stacks
# Initialize an empty stack to represent the browser history
browser_history = []

# Simulate user browsing by pushing visited pages onto the stack
browser_history.append("Homepage")
browser_history.append("About Us")
browser_history.append("Products")
browser_history.append("Contact Us")

# User clicks the back button
if len(browser_history) > 0:
    current_page = browser_history.pop()
    print("User clicked the back button. Navigating to:", current_page)

# User continues browsing and adds more pages to the history
browser_history.append("FAQs")
browser_history.append("Blog")

# User clicks the back button again
if len(browser_history) > 0:
    current_page = browser_history.pop()
    print("User clicked the back button. Navigating to:", current_page)

# At this point, the browser history would contain ["Homepage", "About Us", "Products", "Contact Us", "FAQs"].

User clicked the back button. Navigating to: Contact Us
User clicked the back button. Navigating to: Blog

In [85]:
#Using lists as queue
queue=['Orang 1','Orang 2']
queue.append('Orang 3')
print("\nQueue before:")
print(queue)

print("\nElements dequeued from queue:",queue.pop(0))

print("\nQueue after:")
print(queue)

Queue before:
['Orang 1', 'Orang 2', 'Orang 3']

Elements dequeued from queue: Orang 1

Queue after:
['Orang 2', 'Orang 3']

In [10]:
#Basic tuples operations
list = (1,2,3)
print(len(list))
print('Hi '*4)
print(3 in (list))
for x in (1,2,3):
    print(x)

3
Hi Hi Hi Hi
True
1
2
3

In [13]:
#Build-in Methods of Tuples
tup=(9,6,'g','Python',7.4)
print(len(tup))
print(tup.index('g'))

print(tup.count('a'))

5
2
0

In [15]:
#Creating Tuples
y1 = (1,2,3,4)

#Create a tuple from a list tuple() constructor
y2 = tuple([1,2,3,4,5])

#Create a tuple using tthe tuple() constructor
y3 = tuple([1,2,3,4,5,6])

print(f"Tuple y1:{y1}")
print(f"Tuple y2:{y2}")
print(f"Tuple y3:{y3}")

Tuple y1:(1, 2, 3, 4)
Tuple y2:(1, 2, 3, 4, 5)
Tuple y3:(1, 2, 3, 4, 5, 6)

In [1]:
#Accesing Values in Tuple
tup1 = ('fisika','kimia',1990,2000);
tup2 = (1,2,3,4,5,6,7);
print("tup1[0]:",tup1[0])
print("tup2[1:5]:",tup2[1:5])

tup1[0]: fisika
tup2[1:5]: (2, 3, 4, 5)

In [2]:
#Updating Tuples
tup1 = (12,34.56);
tup2 = ('abc','xyz');

#Following action is NOT VALID for tuples
#tup1[0]=100;

#create a new tuple
tup3=tup1 + tup2;
print(tup3);

(12, 34.56, 'abc', 'xyz')

In [6]:
#Delete Tuple Elements
tup = ('fisika','kimia',1990,2000);
print(tup);
del tup;
print("After deleting tup: ");
print(tup);

('fisika', 'kimia', 1990, 2000)
After deleting tup:

NameError: name 'tup' is not defined

In [7]:
#Changing python tuple value by using list()
tup=(1,2,3,4,5)

list1=list(tup)
list1[4]=6

tup=tuple(list1)
tup

(1, 2, 3, 4, 6)

In [8]:
#Tuple packing and unpacking
tup=1,2,3 #packing
print("The type of ",tup,"is:",type(tup))

a,b,c=tup #unpacking
print(a)
print(b)
print(c)

The type of  (1, 2, 3) is: <class 'tuple'>
1
2
3

In [9]:
#Dictionary

#Built-in Methods of Dictionaries
dict1={1:'a',2:'e',3:'i',4:'o',5:'u'}
print(dict1.get(4))

print(dict1.keys())

print(dict1.values())

print(dict1.items())

var1=dict1.pop(2)
print("The value of var1 is:",var1)

var2=dict1.popitem()
print("The value of var2 is:",var2)

dict1.clear()

o
dict_keys([1, 2, 3, 4, 5])
dict_values(['a', 'e', 'i', 'o', 'u'])
dict_items([(1, 'a'), (2, 'e'), (3, 'i'), (4, 'o'), (5, 'u')])
The value of var1 is: e
The value of var2 is: (5, 'u')

In [11]:
#Accesing Values in Dictionary
dict = {'Name': 'Alfath', 'Age': 18, 'Class': 'First'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

dict['Name']:  Alfath
dict['Age']:  18

In [13]:
#Updating Dictionary
dict = {'Name': 'Alfath', 'Age': 18, 'Class': 'First'}
dict['Age'] = 19; #update existing entry
dict['School'] = "IPB University"; #Add new entry

print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

dict['Age']:  19
dict['School']:  IPB University

In [15]:
#Delete Dictionary Elements
dict = {'Name': 'Alfath', 'Age': 18, 'Class': 'First'}
del dict['Name']; # remove entry with key 'Name'
dict.clear();     # remove all entries in dict
del dict ;        # delete entire dictionary	

#an exception is raised here because after del dict dictionary does not exist any more :
print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

dict['Age']:  dict['Age']
dict['School']:  dict['School']

In [34]:
#Common Ways to Loop through a Dictionary
# Creating a sample dictionary
my_dict = {"name": "Alfath", "age": 18, "city": "Bogor"}

# Method 1: Loop through keys and access values
for key in my_dict:
    print(key, "->", my_dict[key])

# Method 2: Loop through keys and values using .items()
for key, value in my_dict.items():
    print(key, "->", value)

# Method 3: Loop through keys using .keys() (less common)
for key in my_dict.keys():
    print(key, "->", my_dict[key])

# Method 4: Loop through values using .values()
for value in my_dict.values():
    print(value)

name -> Alfath
age -> 18
city -> Bogor
name -> Alfath
age -> 18
city -> Bogor
name -> Alfath
age -> 18
city -> Bogor
Alfath
18
Bogor

In [29]:
#Properties of Dictionary Keys
dict = {'Name': 'Zara', 'Age': 7, 'Name': 'Hakkam'}
print ("dict['Name']: ", dict['Name'])	# dict['Name']:  Hakkam

dict['Name']:  Hakkam

In [33]:
#Sets

#Creating a set
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
Months={"Jan","Feb","Mar"}
Dates={21,22,17}
print(Days)
print(Months)
print(Dates)

{'Tue', 'Thu', 'Sun', 'Mon', 'Fri', 'Sat', 'Wed'}
{'Mar', 'Feb', 'Jan'}
{17, 21, 22}

In [38]:
#Accesing Values in a Set
Days=set(["Minggu","Senin","Selasa","Rabu","Kamis","Jumat","Sabtu"])
 
for d in Days:
   print(d)

Kamis
Minggu
Sabtu
Rabu
Jumat
Senin
Selasa

In [41]:
#Adding & Removing Items to a Set
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
 
Days.add("Sun")
print(Days)

Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
 
Days.discard("Sun")
print(Days)

{'Tue', 'Thu', 'Sun', 'Mon', 'Fri', 'Sat', 'Wed'}
{'Tue', 'Thu', 'Mon', 'Fri', 'Sat', 'Wed'}

In [51]:
#Union, Intersection, and Difference
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
print(DaysA|DaysB)		# equals with print(DaysA.union(DaysB))
print(DaysA & DaysB)	# equals with print(DaysA.intersection(DaysB))
print(DaysA - DaysB)		# equals with print(DaysA.difference(DaysB))

{'Tue', 'Thu', 'Sun', 'Mon', 'Fri', 'Sat', 'Wed'}
{'Wed'}
{'Mon', 'Tue'}

In [56]:
#Choosing data structures

#Using List of Tuples
employee_list = [(12345, "Alfath", "Kitchen"), (12458, "Farhan", "House Floor")]

def get_employee(id):
    for employee in employee_list:
        if employee[0] == id:
            return {"id": employee[0], "name": employee[1], "department": employee[2]}

print(get_employee(12458))

{'id': 12458, 'name': 'Farhan', 'department': 'House Floor'}

In [59]:
#Using Dictionary
employee_dict = {
    12345: {
        "id": "12345",
        "name": "Alfath", 
        "department": "Kitchen"    
    },
    12458: {
        "id": "12458",
        "name": "Farhan", 
        "department": "House Floor"    
    }
}

def get_employee_from_dict(id):
    return employee_dict[id];


print(get_employee_from_dict(12458));

{'id': '12458', 'name': 'Farhan', 'department': 'House Floor'}